node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files
*.cache
.metro-bundler-cache-*
.metro-bundler-info

# Environment
.env
.env.local
